<!DOCTYPE html>
<html>
<head>
    <title>Task Manager - Tasks</title>
</head>
<body>
    <h1>Task List</h1>
    <ul>
        <% tasks.forEach(task => { %>
            <li><%= task.title %></li>
        <% }); %>
    </ul>
</body>
</html>